<div class="splash" id="about-splash">
    <div class="splash-overlay vcenter hcenter"></div>
</div>

<section class="mid-grey pattern-brushed box-shadow-grey-bottom">
    <div class="container container-padded">
        <div class="col-md-11">
            <h1 class="inset-text-grey">About</h1>
            <p class="lead">
            	{{ brand }} is a project established by Jackson Gothe-Snape, supported by a team of journalists including Sarah Martin (pictured) and Nick Evershed, that aims to fix the Interests Register of Australian Federal Parliamentarians. By crowd-sourcing the transcription of thousands of pages of handwritten PDFs, {{ brand }} will make the Interests Register searchable.
            </p>
        </div>
    </div>
</section>

<section class="white">
    <div class="container container-padded">
        <div class="col-md-11 padding-bottom-sm">
            <h2>Why is this important?</h2>
            <p>
                Right now, this is how you can check to see whether a company has had any dealings with an MP or Senator:
                <ul>
                <li>Check the Senate and House of Representatives websites for recent declarations.</li>
                <li>Read every PDF listed - including those with illegible handwriting.</li>
                <li>Personally visit the Table Office in Parliament House in Canberra to get archived entries in hard copy form.</li>
                <li>Weep into the mountain of paper now strewn across your desk.</li>
                </ul>
            </p>
            <p>
                The deeper you dig into the declarations, the bigger the holes. Categories are missing, disclosures are illegible and guidance is scant. For example, should the fact that declared bottles of wine were actually Grange Hermitage be disclosed?
                And should they be disclosed in real-time, when potential conflicts arise?
                To address the shortcomings prompted by these questions, {{ brand }} aims to support reforms towards a new regime of declarations which is:
                <ul>
                <li>freshly clarified,</li>
                <li>real-time,</li>
                <li>categorised,</li>
                <li>standardised, and</li>
                <li>digital,</li>
                <li>with a goal for public access and analysis.</li>
                </ul>
            </p>
            <p>In 2011, a report of the Senate Standing Committee of Senators' Interests chaired by Senator Cory Bernardi determined the committee "will continue to investigate" options such as online forms "and will report to the Senate on this matter in due course". That was the most recent report on the matter. For more information on the current regime, see <a href="http://www.aph.gov.au/Parliamentary_Business/Committees/Senate/Senators_Interests/Guidelines_and_Resolutions/Explanatory_Notes">these explanatory notes for statements of registrable interests for Senators</a> and <a href="http://www.aph.gov.au/~/media/05%20About%20Parliament/53%20HoR/532%20PPP/Resolutions/9Oct1984.pdf">this resolution, last amended in 2008, about the Register of Interests for MPs</a>.
            </p> 
            <p>In May 2017, a <a href="http://parlinfo.aph.gov.au/parlInfo/download/committees/estimate/29ee2a15-f7a1-4a29-b10b-6f2881c2bcb2/toc_pdf/Finance%20and%20Public%20Administration%20Legislation%20Committee_2017_05_22_5099_Official.pdf;fileType=application%2Fpdf">Senates Estimates hearing</a> revealed that work is underway on a new digital Interests Register. It is unlikely to be ready by the end of 2017, and no commitment has been made for it to be searchable.
            </p>
            <div class="text-center">
                <a href="{{url_for('project.index')}}" class="btn btn-danger">I'm on board. Let's do this.</a>
            </div>
        </div>
    </div>
</section>

<section class="white pattern-white-wall box-shadow-white-bottom">
    <div class="container container-padded">
        <div class="col-md-11 padding-bottom-sm">
            <h2>Technology</h2>
            <p>
                {{ brand }} is built on top of <a href="http://docs.pybossa.com/"> PyBossa</a>, an open-source Python framework for the creation of
                crowdsourcing projects. PyBossa is written in Python and uses the <a href="http://flask.pocoo.org/">Flask</a> micro-framework. Each
                project on the platform is written in a combination of HTML, CSS and Javascript. {% if 'pybossa_discourse' in plugins %} The
                community forum is powered by <a href="https://www.discourse.org/">Discourse</a>.{% endif %} {{brand}} also uses a modified version of the
				<a href="https://github.com/LibCrowds/libcrowds-pybossa-theme" target="_blank">LibCrowds theme</a>. Any plugins developed to
				provide additional functionality are open-souce and available on GitHub.
            </p>
            <p>
                {% if plugins %}
                    {{brand}} is currently running the following plugins:
                    <ul class="no-style">
                    {% for p in plugins.values() %}
						{% if p.name %}
                        <li>{% if p.website and p.version %}
								<a href="{{ p.website }}"><strong>{{ p.name }}</a> (v{{ p.version }})</strong>
							{% elif p.website %}
								<a href="{{ p.website }}"><strong>{{ p.name }}</a></strong>
							{% else %}
								<strong>{{ p.name }}</strong>
							{% endif %}
							{% if p.description %}<strong>:</strong> {{ p.description }}{% endif %}
						</li>
						{% endif %}
                    {% endfor %}
                    </ul>
                {% endif %}
            </p>
            <div class="col-sm-6 col-sm-offset-3 col-xs-12 padding-top-sm">
                <div class="col-xs-4"><img src="{{url_for('static',filename='img/html-logo.png')}}" class="img-responsive web-badge" alt="HTML5 web badge"></div>
                <div class="col-xs-4"><img src="{{url_for('static',filename='img/css-logo.png')}}" class="img-responsive web-badge" alt="CSS3 web badge"></div>
                <div class="col-xs-4"><img src="{{url_for('static',filename='img/js-logo.png')}}" class="img-responsive web-badge" alt="JavaScript web badge"></div>
            </div>
        </div>
    </div>
</section>

<section class="white">
    <div class="container container-padded">
        <div class="col-md-11 padding-top-xs padding-bottom-sm">
            <h2>Contact information</h2>
            <ul class="no-style">
                <li><a href="mailto:{{contact_email}}">Email us</a> for more information.</li>
            </ul>
        </div>
    </div>
</section>
