<div class="splash" id="about-splash">
    <div class="splash-overlay vcenter hcenter"></div>
</div>

<section class="mid-grey pattern-brushed box-shadow-grey-bottom">
    <p class="attribution">Photo: &copy; <a href="http://www.lensintheface.com" target="_blank">Jon Ellis</a></p>
    <div class="container container-padded">
        <div class="col-md-11">
            <h1 class="inset-text-grey">About</h1>
            <p class="lead">
            	{{ brand }} is a project from Sarah Martin and Jackson Gothe-Snape, that aims to fix Australia's Federal Parliamentarians' Interest Register. By crowdsourcing the transcription of thousands of pages of handwritten PDFs, {{ brand }} will make the Interests Register searchable for the first time. The project will also bring
            </p>
        </div>
    </div>
</section>

<section class="white">
    <div class="container container-padded">
        <div class="col-md-11 padding-bottom-sm">
            <h2>Why is this important?</h2>
            <p>
                Right now, this is how you check to see whether a company has had any dealings with an MP or Senator:
                <ul>
                <li>Check the Senate and House of Representatives websites for recent declarations.</li>
                <li>Read every PDF listed - including those with illegible handwriting.</li>
                <li>Personally visit the Table Office in Parliament House in Canberra to get archived entries in hard copy form.</li>
                <li>Weep into the mountain of paper now strewn across your desk.</li>
                </ul>
            </p>
            <p>
                Australia's elected representatives become embroiled in scandal after scandal. 
                Yet declining resources in journalism mean information in the Interest Register remains locked.
                How many conflicts of interest have been ignored?
            </p>
            <p>
                But in every entry recorded over the years, what was left unwritten?
                Should the fact that declared bottles of wine were actually Grange Hermitage be disclosed?
                And should they be disclosed in real-time, when potential conflicts may be in the news?
                To address the questions, {{ brand }} lobby our politicians for a new regime of declarations which is:
                <ul>
                <li>freshly clarified,</li>
                <li>real-time,</li>
                <li>categorised,</li>
                <li>standardised, and</li>
                <li>digital.</li>
                </ul>
            </p>
            <div class="text-center">
                <a href="{{url_for('project.index')}}" class="btn btn-danger">I'm on board. Let's do this.</a>
            </div>
        </div>
    </div>
</section>

<section class="white pattern-white-wall box-shadow-white-bottom">
    <div class="container container-padded">
        <div class="col-md-11 padding-bottom-sm">
            <h2>Technology</h2>
            <p>
                {{ brand }} is built on top of <a href="http://docs.pybossa.com/"> PyBossa </a>, an open-source Python framework for the creation of
                crowdsourcing projects. PyBossa is written in Python and uses the <a href="http://flask.pocoo.org/">Flask</a> micro-framework. Each
                project on the platform is written in a combination of HTML, CSS and Javascript. {% if 'pybossa_discourse' in plugins %} The
                community forum is powered by <a href="https://www.discourse.org/">Discourse</a>.{% endif %} {{brand}} also uses a modified version of the
				<a href="https://github.com/LibCrowds/libcrowds-pybossa-theme" target="_blank">LibCrowds theme</a>. Any plugins developed to
				provide additional functionality are open-souce and available on GitHub.
            </p>
            <p>
                {% if plugins %}
                    {{brand}} is currently running the following plugins:
                    <ul class="no-style">
                    {% for p in plugins.values() %}
						{% if p.name %}
                        <li>{% if p.website and p.version %}
								<a href="{{ p.website }}"><strong>{{ p.name }}</a> (v{{ p.version }})</strong>
							{% elif p.website %}
								<a href="{{ p.website }}"><strong>{{ p.name }}</a></strong>
							{% else %}
								<strong>{{ p.name }}</strong>
							{% endif %}
							{% if p.description %}<strong>:</strong> {{ p.description }}{% endif %}
						</li>
						{% endif %}
                    {% endfor %}
                    </ul>
                {% endif %}
            </p>
            <div class="col-sm-6 col-sm-offset-3 col-xs-12 padding-top-sm">
                <div class="col-xs-4"><img src="{{url_for('static',filename='img/html-logo.png')}}" class="img-responsive web-badge" alt="HTML5 web badge"></div>
                <div class="col-xs-4"><img src="{{url_for('static',filename='img/css-logo.png')}}" class="img-responsive web-badge" alt="CSS3 web badge"></div>
                <div class="col-xs-4"><img src="{{url_for('static',filename='img/js-logo.png')}}" class="img-responsive web-badge" alt="JavaScript web badge"></div>
            </div>
        </div>
    </div>
</section>

<section class="white">
    <div class="container container-padded">
        <div class="col-md-11 padding-top-xs padding-bottom-sm">
            <h2>Contact information</h2>
            <ul class="no-style">
                {% if 'pybossa_discourse' in plugins %}
                <li>Visit the <a href="{{url_for('discourse.index')}}">BURN THE REGISTER Community</a> for more information or to report any issues.</li>
                {% else %}
                <li><a href="mailto:{{contact_email}}">Email us</a> for more information.</li>
                {% endif %}
            </ul>
        </div>
    </div>
</section>
