{% extends "/base.html" %}
{% set active_page = "statistics" %}
{% set active_project  = "all" %}
{% import "privacy/locked.html" as privacy %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='vendor/leaflet/leaflet.css')}}" />
<link href="{{url_for('static', filename='css/stats/stats.css')}}" rel="stylesheet" type="text/css">
<link href="{{url_for('static', filename='css/stats/MarkerCluster.css')}}" rel="stylesheet" type="text/css">
<link href="{{url_for('static', filename='css/stats/MarkerCluster.Default.css')}}" rel="stylesheet" type="text/css">
<link href="{{url_for('static', filename='css/stats/stats.css')}}" rel="stylesheet" type="text/css">
<script src="{{url_for('static', filename='vendor/leaflet/leaflet.js')}}"></script>
<script src="{{url_for('static', filename='js/stats/flotr2.min.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='js/stats/leaflet.markercluster.js')}}" type="text/javascript"></script>

<span class="set-body-bg" data-bg="pattern-brushed"></span>
<div class="container container-main"
    <div class="col-xs-12">
        {% if enforce_privacy and (current_user.is_anonymous() or (current_user.is_authenticated and not current_user.admin)) %}
        {{ privacy.render_lock_page() }}
        {% else %}
        <h1><strong>{{brand}}</strong>: Progress</h1>
        <br/>



            <!-- Projects Task and TaskRuns CARD -->
            <div id="card" class="row-fluid">
                <div id="taskStats" class="col-xs-12 well">
                    <div class="row-fluid">
                        <div class="col-xs-9">
                            <h3>Pages uploaded: <small>{{stats.n_tasks}}</small></h3>
                            <h3>Pages transcribed: <small>{{stats.n_task_runs}}</small></h3>
                            <small>Note: Each page is transcribed at least twice to ensure results are as reliable as possible. These statistics are updated once a day.</small>
                        </div>
                        <div id="tasks" class="col-xs-3" style="height:400px;"></div>
                     <script>
                        (function(){
                            var data = {{tasks|safe}};
                            var container = document.getElementById('tasks');
                            var graph = Flotr.draw(container, [
                                {data:[data['values'][0]['value']], label:'Pages'},
                                {data:[data['values'][1]['value']],  label:"Transcribed"}],
                                {
                                bars : {show: true},
                                grid    : {verticalLines: false, horizontalLines: false},
                                xaxis   : {showLabels: false, autoscale: true, autoscaleMargin:1},
                                yaxis   : {showLabels: true, min:0, autoscaleMargin:1},
                                legend  : {position: 'se'}
                            });
                        })();

                        </script>
                    </div>
                </div>
            </div>
            <!-- END Users Stats CARD -->

        {% endif %}
    </div>
</div>
{% endblock %}